<div class="container">
  <nav class="navbar">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/">Home</a></li>
        <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/dashboard">Dashboard</a></li>
        <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/heroes">Heroes</a></li>
        <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/tickets">Tickets</a></li>
        <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/jwt">JWT</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="auth.login()" *ngIf="!auth.authenticated()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a routerLink="/profile" *ngIf="auth.authenticated()" data-toggle="tooltip" title="Show {{profile.given_name}}'s profile">
          <img class="img-rounded" style="width: 35%;" src="{{profile.picture}}" />
          {{profile.given_name}}</a></li>
        <li><a (click)="auth.logout()" *ngIf="auth.authenticated()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <ul class="nav nav-pills">
      <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/dashboard">Dashboard</a></li>
      <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/heroes">Heroes</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
