.panel-body  {
  word-break:break-all;

}

pre {
  border: none;
  background-color: inherit;
}

.panel-body-signature {
  background-color: green;
  color: white;
  text-align: center;
  font-size: x-large;
}

.panel-body-signature-nok {
  background-color: red;
  color: white;
  text-align: center;
  font-size: x-large;
}

.jwtHeader{
  color: red;
}

.jwtPayload{
  color: purple;
}

.jwtSignature{
  color: dodgerblue;
}

.jwtSeperator{
  color: black;
}
