<div class="alert alert-danger" *ngIf="!auth.authenticated()">
  <p>You are not logged in</p>
</div>
<div>
  <div class="row">
    <div class="col-md-6">
      <pre>{{token}}</pre>
    </div>
    <div class="col-md-6">
      <div>
        <span>token header: </span><pre>{{tokenHeader | json}}</pre>
      </div>
      <div>
        <span>token payload: </span><pre>{{decodedToken | json}}</pre>
      </div>
      <div>
        <span>tokenExpirationDate: </span><pre>{{tokenExpirationDate}}</pre>
      </div>
      <div>
        <span>isTokenExpired: </span><pre>{{isTokenExpired}}</pre>
      </div>
    </div>
  </div>
</div>
