#tokenPanel {
  font-size: large;
}

.panel-body  {
  word-break:break-all;

}

pre {
  border: none;
  background-color: inherit;
}

.panel-body-signature {
  background-color: green;
  color: white;
  text-align: center;
  font-size: x-large;
}

.panel-body-signature-nok {
  background-color: red;
  color: white;
  text-align: center;
  font-size: x-large;
}

.jwtHeader{
  color: red;
}

.jwtPayload{
  color: #d63aff;
}

.jwtSignature{
  color: dodgerblue;
}

.jwtSeperator{
  color: black;
}

#header.jwtHeader, #payload.jwtPayload{
  width: 100%;
  height: 10em;
  resize: none;
  border: none;
  outline: none;
  padding: 0px;
  font-family: monospace;
}
