<div class="alert alert-danger" *ngIf="!auth.authenticated()">
  <p>You are not logged in</p>
</div>
<div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">JSON Web Token</div>
        <div contenteditable id="tokenPanel" class="panel-body">
          <span class="jwtHeader">{{jwt.header}}</span><span class="jwtSeperator">.</span><span class="jwtPayload">{{jwt.payload}}</span><span class="jwtSeperator">.</span><span class="jwtSignature">{{jwt.signature}}</span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Expiration date</div>
        <div class="panel-body">{{jwt.tokenExpirationDate}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Expired?</div>
        <div class="panel-body">{{jwt.isTokenExpired}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Manipulated signature</div>
        <div class="panel-body"><pre class="jwtSignature">{{receivedSignature}}</pre></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Header</div>
        <div class="panel-body"><textarea id="header" spellcheck="false" class="jwtHeader" [(ngModel)]="jwt.headerJSONPretty" (input)="base64EncodeHeader()"></textarea></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Payload</div>
        <div class="panel-body"><textarea id="payload" spellcheck="false" class="jwtPayload" [(ngModel)]="jwt.payloadJSONPretty" (input)="base64Encode()"></textarea></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Original signature</div>
        <div class="panel-body"><pre class="jwtSignature">{{jwt.signature}}</pre></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div *ngIf="jwt.isValid" class="panel-body panel-body-signature">
          <span class="glyphicon glyphicon-ok-circle"></span>
          valid signature
        </div>
        <div *ngIf="!jwt.isValid" class="panel-body panel-body-signature-nok">
          <span class="glyphicon glyphicon-remove-circle"></span>
          invalid signature
        </div>
      </div>
    </div>
  </div>
</div>
