<div class="alert alert-danger" *ngIf="!auth.authenticated()">
  <p>You are not logged in</p>
</div>
<div *ngIf="auth.authenticated()">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
        <div>
          <label>Name</label>
          <input type="text" formControlName="name">
          <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)">
            Name is required (minimum 5 characters).
          </small>
        </div>
        <div formGroupName="address">
          <label>Address</label>
          <input type="text" formControlName="street">
          <small [hidden]="myForm.controls.address.controls.street.valid || (myForm.controls.address.controls.street.pristine && !submitted)">
            Street is required
          </small>
        </div>
        <div formGroupName="address">
          <label>Postcode</label>
          <input type="text" formControlName="postcode">
        </div>
        <button type="submit">Submit</button>
      </form>
      Form changes:
      <div *ngFor="let event of events">
        <pre>{{event | json }}</pre>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img class="img-circle" style="width: 100%;" src="{{profile.picture_large}}" />
    </div>
    <div class="col-md-4">
      <h1>{{profile.nickname}}</h1>
      <p>Email: {{profile.name}}</p>
      <p>Last update: {{profile.created_at}}</p>
    </div>
    <div class="col-md-6">
      <h1 class="text-center">Asynchronous Operations</h1>
      <h2 class="text-center">using promises</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="number1"  class="col-sm-7 control-label">Enter first number</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="number1"
                   required
                   [(ngModel)]="number1" name="number1">
          </div>
        </div>
        <div class="form-group">
          <label for="number2"  class="col-sm-7 control-label">Enter second number</label>
          <div class="col-md-5">
          <input type="text" class="form-control" id="number2"
                 required
                 [(ngModel)]="number2" name="number2">
          </div>
        </div>
        <div class="form-group">
          <label for="delay"  class="col-sm-7 control-label">Enter delay in ms</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="delay"
               required
               [(ngModel)]="delay" name="delay">
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" (click)="doStuff(number1, number2, delay)">Go!</button>
        </div>
      </form>
      <pre>
        <p>Result = {{ result }}</p>
        <p>Error = {{ error }} </p>
        <p>Time = {{ time }} ms</p>
      </pre>
    </div>
  </div>
</div>
