<h4>Tickets</h4>
<div>
  <table class="table table-hover table-bordered">
    <tr *ngFor="let ticket of tickets" (click)="onSelect(ticket)" [class.selected]="ticket === selectedTicket">
      <td>{{ticket.date}}</td>
      <td *ngFor="let x of ticket.entries">{{x.category}} {{x.hours}}</td>
      <td>
          <button class="btn btn-danger btn-md" (click)="deleteHero(hero); $event.stopPropagation()">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
  </table>
</div>
